<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidpluralsightcourse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidPluralsightCourse.NoActionBar">
        <activity
            android:name=".notes.views.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".notes.views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityWithResults.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".activityWithResults.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".notes.views.NoteActivity"
            android:exported="false" />
        <activity
            android:name=".counter.CounterActivity"
            android:exported="false" />
    </application>

</manifest>